<!-- HERO  -->
<section id="hero" class="hero-auto parallax-section text-light" data-parallax-image="/files/uploads/latest-bg.jpg">

  <div id="page-title" class="wrapper align-center min-title">
    <h6 class="subtitle-3 uppercase">About Us</h6>
    <h3 class="subtitle-3">We are uniquely positioned to develop a web
      <br/> management solution customized
      <strong class="hightlight">to meet your needs.</strong>
    </h3>
  </div>
  <!-- END #page-title -->

</section>
<!-- HERO -->


<!-- PAGEBODY -->
<section id="page-body" class="notoppadding">

  <div class="column-section boxed-sticky adapt-height clearfix">
    <div class="column one-half bigpadding " style="background:#ffffff;">
      <h5 class="subtitle-3">Who We Are</h5>
      <hr class="thicknes mini colored">
      <h2>
        <strong>Overview.</strong>
      </h2>
      <p>Founded in 1998, RACERSITES provides world class digital marketing solutions and campaigns for the best, brightest
        and upcoming people, organizations and brands in the industry. We're your storytellers, with an expertise in combining
        custom graphics and content to impress and grow your audience.</p>
      <p>Agile and responsive, RACERSITES has the hands-on experience and technical know-how to help race teams, drivers, manufacturers,
        organizations and sponsors optimize their presence in the digital space and beyond. We work closely with each of
        our clients to understand their unique needs and formulate a personalized online strategy that supports both on-and-offline
        goals.
      </p>
    </div>
    <div class="column one-half last-col" data-delay="200" style="background:url(../files/uploads/about-m-1.jpg) center center;background-size:cover;"></div>
  </div>
  <!-- END .column-section -->

  <div class="fullwidth-section text-light nobottompadding" style="background: #0985c2;">
    <div class="fullwidth-content">

      <div class="wrapper-small align-left">

        <h4>
          <strong>Over 16 years of experience in the
            <span style="color:#01334b;"> Motorsports / Automotive industry.</span>
          </strong>
        </h4>
      </div>

      <div class="spacer-small"></div>





    </div>
  </div>
  <!-- END .fullwidth-section -->

  <div class="column-section boxed-sticky adapt-height clearfix">
    <div class="column one-half " data-delay="200" style="background:url(../files/uploads/w-b-3.jpg) center center;background-size:cover;"></div>
    <div class="column one-half bigpadding last-col " style="background:#ffffff;">
      <h5 class="subtitle-3">It’s all about team work</h5>
      <hr class="thicknes mini colored">
      <h2>
        <strong>Let us put our experience to work for you.</strong>
      </h2>
      <p>
        <a class="sr-button red-btn button-01 button-medium rounded" href="../contact/index.html">Get in touch</a>
      </p>
    </div>
  </div>
  <!-- END .column-section -->

  <div class="isotope-grid gallery-grid style-modern clearfix" data-heightratio="1">

    <div class="isotope-item wide tall t-tall">
      <img src="../files/uploads/w-b-1.jpg" alt="SEO IMG NAME">
    </div>
    <div class="isotope-item wide tall t-tall">
      <img src="../files/uploads/w-b-2.jpg" alt="SEO IMG NAME">
    </div>


  </div>
  <!-- END .isotope-grid -->

</section>
<!-- PAGEBODY -->

<div class="spacer-small"></div>
<div class="wrapper">

  <h3 class="align-center">
    <strong>Our Clients</strong>
  </h3>
  <hr class="small fat align-center y-color">

  <div class="spacer-small"></div>

  <div class="column-section clearfix">
    <div class="column one-fourth ">
      <div class="clients bbs">

      </div>
    </div>
    <div class="column one-fourth">
      <div class="clients tpens">

      </div>
    </div>
    <div class="column one-fourth">
      <div class="clients hoosier">

      </div>
    </div>
    <div class="column one-fourth last-col">
      <div class="clients fastenal">

      </div>
    </div>

  </div>
  <div class="spacer-small"></div>
  <hr/>
  <div class="column-section clearfix">
    <div class="column one-fourth">
      <div class="clients trans">

      </div>
    </div>
    <div class="column one-fourth">
      <div class="clients beta">

      </div>
    </div>
    <div class="column one-fourth">
      <div class="clients rcr">

      </div>
    </div>
    <div class="column one-fourth last-col">
      <div class="clients wurth">

      </div>
    </div>

  </div>
  <div class="spacer-small"></div>
  <hr/>

  <div class="column-section clearfix">
    <div class="column one-fourth">
      <div class="clients pens">

      </div>
    </div>
    <div class="column one-fourth">
      <div class="clients dbigp">

      </div>
    </div>
    <div class="column one-fourth">
      <div class="clients gray">

      </div>
    </div>
    <div class="column one-fourth last-col">
      <div class="clients scs">

      </div>
    </div>
  </div>

</div>
<!-- END .column-section -->

<!---
 <div class="spacer-medium"></div>
 <section>
       <div class="fullwidth-section align-center" style="background:#f5f6f7;border-top:1px solid #e0e0e0;">
           <div class="fullwidth-content wrapper">
  <p class="align-center">
<a class="sr-button button-01 button-medium  rounded" href="/clients/">All of our clients</a>
           </p>
           </div>
           </div>
  </section>
  --->

<div class="spacer-small"></div>

<div class="work-together">
  <div class="text-center">
    <p class="text-center">
      Ready to get started? Let’s
      <a href="../contact/index.html">work together.</a>
    </p>
  </div>
</div>
<!-- END .work-together -->
<div class="spacer-small"></div>

<!-- Services -->
<div class="wrapper">

  <h3 class="align-center">
    <strong>Our Services</strong>
  </h3>
  <hr class="small fat align-center y-color">

  <div class="spacer-big"></div>

  <div class="column-section clearfix">
    <div class="column one-third">
      <div class="icon-box">
        <div class="icon-box-icon">
          <i class="ion ion-4x ion-ios-monitor-outline colored"></i>
        </div>
        <div class="icon-box-content">
          <h5 class="uppercase">Web & Mobile Development</h5>
          <p>Websites feature cutting-edge designs, responsive layouts, and custom applications ensuring best-in-class performance
            and an engaging user experience.</p>
        </div>
      </div>
    </div>

    <div class="column one-third">
      <div class="icon-box">
        <div class="icon-box-icon">
          <i class="ion ion-4x ion-ios-settings colored"></i>
        </div>
        <div class="icon-box-content">
          <h5 class="uppercase">Digital Marketing</h5>
          <p>Unique content built to increase traffic, advance brand awareness and convert visitors to advocates and buyers
            - whatever your goal, our dynamic marketing team gets results.</p>
        </div>
      </div>
    </div>

    <div class="column one-third last-col">
      <div class="icon-box">
        <div class="icon-box-icon">
          <i class="ion ion-4x ion-4x ion-ios-book-outline  colored"></i>
        </div>
        <div class="icon-box-content">
          <h5 class="uppercase">Branding</h5>
          <p>We build and elevate your profile with a solid branding strategy, precision-tuned by experienced, industry analysis
            and our best-in-class digital expertise.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- END .column-section -->

  <div class="column-section clearfix">
    <div class="column one-third">
      <div class="icon-box">
        <div class="icon-box-icon">
          <i class="ion ion-4x ion-ios-color-wand-outline colored"></i>
        </div>
        <div class="icon-box-content">
          <h5 class="uppercase">Social Media</h5>
          <p>With dynamic, topical content and analytics, we help you engage the right customers, amplify your message and generate
            real results.</p>
        </div>
      </div>
    </div>

    <div class="column one-third">
      <div class="icon-box">
        <div class="icon-box-icon">
          <i class="ion ion-4x ion-ios-speedometer-outline colored"></i>
        </div>
        <div class="icon-box-content">
          <h5 class="uppercase">Promotional Materials</h5>
          <p>Whether it's ads, t-shirts, postcards or decals, we ensure your brand receives the highest quality in print and
            promotional items, always delivered on-time.</p>
        </div>
      </div>
    </div>

    <div class="column one-third last-col">
      <div class="icon-box">
        <div class="icon-box-icon">
          <i class="ion ion-4x ion-ios-flask-outline colored"></i>
        </div>
        <div class="icon-box-content">
          <h5 class="uppercase">Ecommerce</h5>
          <p>Customized storefronts and shopping carts built to satisfy your retail strategy, maximize your online potential,
            and exceed customer expectations. </p>
        </div>
      </div>
    </div>
  </div>
  <!-- END .column-section -->

</div>
<!-- END .wrapper -->

<div class="spacer-small"></div>
