<!-- <div id="page-content"> -->
  <!-- HERO  -->
  <section id="hero" class="hero-full text-light parallax-section" data-parallax-image="./assets/files/uploads/blizzard-hero.png">
    <div id="page-title" class="wrapper align-center">
      <!-- LAYER NR. 1 -->
      <strong style="font-style: normal; ">BLIZZARD MOTORSPORTS</strong>
      <!-- LAYER NR. 2 -->
      <hr class="small fat">
      <h1 class="uppercase">
        <strong>WE GET RACING</strong>
      </h1>
      <h5 class="subtitle-1 uppercase">
        <strong>Welcome To Blizzard Motor Sports</strong>
      </h5>
    </div>
    <!-- END #page-title -->
    <a href="#" id="scroll-down" class="text-light"></a>
  </section>
  <!-- HERO -->

  <div class="column-section boxed-sticky adapt-height clearfix">
    <div class="column one-half bigpadding rs-wbg">
      <!-- <h2 class="align-right bigpadding">
          <strong>Who We Are</strong>
        </h2> -->

    </div>
    <div class="column one-half last-col bigpadding" style="background:#ededed;">
      <p>After nearly a century with the Internal Combustion engines dominating the Motorsports sector, it now appears that
        the Electric vehicle is on the verge of experiencing rapid growth in both developed and developing racing vehicle
        markets. The broad-scale adoption of the Electric vehicle could bring significant changes for society in terms of
        not only the technologies we use in Motorsports, but also moving our economies away from petroleum and lessoning
        the environment footprint of Racing World.
      </p>
      <p>
        <a class="sr-button red-btn button-01 button-medium rounded" routerLink="/about">About Us</a>
      </p>
    </div>
  </div>

  <section id="page-body">
    <section id="hero" style="background:rgba(9, 133, 194, .7);" class="hero-auto parallax-section text-light overlay-body" data-parallax-image="../../../assets/files/uploads/works-bg.png">
      <div id="page-title" class="wrapper align-center">
        <h3 class="align-center ">
          <strong>UKC SEASON-1 HIGHLIGHTS</strong>
        </h3>
        <hr class="small fat">
      </div>
      <!-- END #page-title -->
    </section>

    <section id="page-body" class="notoppadding">
      <div class="wrapper">
        <div id="portfolio-grid" class="isotope-grid portfolio-container style-modern clearfix" data-heightratio="1">
          <div class="isotope-item portfolio-item wide tall branding">
            <div class="portfolio-media">
              <p class="gallery-btn">
                <a target="_blank" class="sr-button button-1 button-icon-text button-tiny rounded" href="http://www.teampenske.com/">
                  <i class="fa fa-arrow-circle-o-right"></i>
                  Visit Website
                </a>
              </p>
              <a href="../../../assets/files/uploads/w-penske.jpg" class="thumb-overlay overlay-effect-2 text-light" title="Team Penske"
                data-rel="lightcase:gallery1">
                <img src="../../../assets/files/uploads/w-penske.jpg" alt="Team Penske">
                <div class="overlay-caption caption-top">

                  <hr class="thickness">
                  <h4 class="caption-name portfolio-name uppercase">Team Penske</h4>

                </div>
              </a>
            </div>
          </div>

          <div class="isotope-item portfolio-item wide branding">
            <div class="portfolio-media">

              <p class="gallery-btn">
                <a target="_blank" class="sr-button button-1 button-icon-text button-tiny rounded" href="http://www.graymotorsports.com/">
                  <i class="fa fa-arrow-circle-o-right"></i>
                  Visit Website
                </a>
              </p>

              <a href="../../../assets/files/uploads/w-gray.jpg" class="thumb-overlay overlay-effect-2 text-light" title="Gray Motorsport"
                data-rel="lightcase:gallery1">
                <img src="../../../assets/files/uploads/w-gray.jpg" alt="Gray Motorsport">
                <div class="overlay-caption ">

                  <hr class="thickness">
                  <h4 class="caption-name portfolio-name uppercase">Gray Motorsport</h4>
                </div>
              </a>
            </div>
          </div>

          <div class="isotope-item portfolio-item photography">
            <div class="portfolio-media">

              <p class="gallery-btn">
                <a target="_blank" class="sr-button button-1 button-icon-text button-tiny rounded" href="http://www.detroitgp.com/">
                  <i class="fa fa-arrow-circle-o-right"></i>
                  Visit Website
                </a>
              </p>
              <a href="../../../assets/files/uploads/w-dbigp.jpg" class="thumb-overlay overlay-effect-2 text-light" title="Detroit Grand Prix"
                data-rel="lightcase:gallery1">
                <img src="../../../assets/files/uploads/w-dbigp.jpg" alt="Detroit Grand Prix">
                <div class="overlay-caption">

                  <hr class="thickness">
                  <h4 class="caption-name portfolio-name uppercase">Detroit Grand Prix</h4>
                </div>
              </a>
            </div>
          </div>

          <div class="isotope-item portfolio-item tall web">
            <div class="portfolio-media">

              <p class="gallery-btn">
                <a target="_blank" class="sr-button button-1 button-icon-text button-tiny rounded" href="http://www.hoosiertire.com/">
                  <i class="fa fa-arrow-circle-o-right"></i>
                  Visit Website
                </a>
              </p>
              <a href="../../../assets/files/uploads/w-hoosier.jpg" class="thumb-overlay overlay-effect-2 text-light" title="Hoosier" data-rel="lightcase:gallery1">
                <img src="../../../assets/files/uploads/w-hoosier.jpg" alt="Hoosier">
                <div class="overlay-caption ">

                  <hr class="thickness">
                  <h4 class="caption-name portfolio-name uppercase">Hoosier</h4>
                </div>
              </a>
            </div>
          </div>

          <div class="isotope-item portfolio-item tall web">
            <div class="portfolio-media">

              <p class="gallery-btn">
                <a target="_blank" class="sr-button button-1 button-icon-text button-tiny rounded" href="http://www.mattkenseth.com/">
                  <i class="fa fa-arrow-circle-o-right"></i>
                  Visit Website
                </a>
              </p>


              <a href="../../../assets/files/uploads/w-kenn.jpg" class="thumb-overlay overlay-effect-2 text-light" title="Matt Kenseth"
                data-rel="lightcase:gallery1">
                <img src="../../../assets/files/uploads/w-kenn.jpg" alt="Matt Kenseth">
                <div class="overlay-caption caption-top">

                  <hr class="thickness">
                  <h4 class="caption-name portfolio-name uppercase">Matt kenseth</h4>
                </div>
              </a>
            </div>
          </div>

          <div class="isotope-item portfolio-item wide photography">
            <div class="portfolio-media">

              <p class="gallery-btn">
                <a target="_blank" class="sr-button button-1 button-icon-text button-tiny rounded" href="http://gotransam.com/">
                  <i class="fa fa-arrow-circle-o-right"></i>
                  Visit Website
                </a>
              </p>


              <a href="../../../assets/files/uploads/w-trans.jpg" class="thumb-overlay overlay-effect-2 text-light" title="Trans Am" data-rel="lightcase:gallery1">
                <img src="../../../assets/files/uploads/w-trans.jpg" alt="Trans Am">
                <div class="overlay-caption">

                  <hr class="thickness">
                  <h4 class="caption-name portfolio-name uppercase">Trans Am</h4>
                </div>
              </a>
            </div>
          </div>

          <div class="isotope-item portfolio-item branding">
            <div class="portfolio-media">
              <p class="gallery-btn">
                <a target="_blank" class="sr-button button-1 button-icon-text button-tiny rounded" href="http://www.dennyhamlin.com/">
                  <i class="fa fa-arrow-circle-o-right"></i>
                  Visit Website
                </a>
              </p>
              <a href="../../../assets/files/uploads/w-dhamilto.jpg" class="thumb-overlay overlay-effect-2 text-light" title="Denny Hamlin"
                data-rel="lightcase:gallery1">
                <img src="../../../assets/files/uploads/w-dhamilto.jpg" alt="SEO IMG NAME">
                <div class="overlay-caption">

                  <hr class="thickness">
                  <h4 class="caption-name portfolio-name uppercase">denny hamlin </h4>

                </div>
              </a>
            </div>
          </div>

          <div class="isotope-item portfolio-item wide web">
            <div class="portfolio-media">
              <p class="gallery-btn">
                <a target="_blank" class="sr-button button-1 button-icon-text button-tiny rounded" href="http://www.geotestcenter.com/">
                  <i class="fa fa-arrow-circle-o-right"></i>
                  Visit Website
                </a>
              </p>


              <a href="../../../assets/files/uploads/w-geo.jpg" class="thumb-overlay overlay-effect-2 text-light" title="GEO Test Center"
                data-rel="lightcase:gallery1">
                <img src="../../../assets/files/uploads/w-geo.jpg" alt="SEO IMG NAME">
                <div class="overlay-caption ">

                  <hr class="thickness">
                  <h4 class="caption-name portfolio-name uppercase">Geo Systems</h4>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
<!-- </div> -->
